body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
.header{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 300px;
    color: white;
    
    box-shadow: inset 0px -100px 300px 150px black;
}
.header p{
    text-align: center;
    padding: 10PX;
    line-height: 1.5em;
}
h1{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}

.display_center{
    display: flex;
    justify-content: center;
}
.button{
    color:white;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #FF5959;
    border-radius: 5px;
    font-weight:800;
}
.container{
    max-width: 960px;
    margin: auto;
    margin-bottom: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10PX;
    line-height: 1.5em;
}
.donate_amount{
    display: flex;
}
.fixd_width{
    width: 10%;
    background-color: #dfdbdb;
    margin-left: 5%;
    text-align: center;
    padding: 10px 12px;
    border-radius: 10px;
    color: #707070;
}
.selected_item{
    background-color: #FFEEEE;
    border: 2px solid #FF6262;
    color: #FF6262;
}
.input_amount{
    margin-top: 40px;
}
hr{
    margin-bottom: 30px;
}
input[type=text]{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.article{
    max-width: 960px;
    margin: auto;
    background-color: #ddd;
    margin-bottom: 100px;
}
.article_img{
    display: flex;
    padding: 10px 15px 25px 15px;
}
.img_1{
    width: 40%;
    margin-left: 5%;
    background-color: white;
    padding: 15px;
    line-height: 1.5em;
    border-radius: 10px;
    box-shadow: 10px 10px 25px #707070;
}
.img_1 img{
    width: 100%;
}
.card_container{
    display: flex;
    margin-left: 10%;
}
.card_one{
    width: 20%;
    padding: 4%;
    background-color: #EDF5F6;
    border-radius: 15px;
    text-align: left;
    line-height: 1.5em;
}
.card_two{
    width: 20%;
    padding: 4%;
    margin-left: 3%;
    background-color: #FFEEEE;
    border-radius: 15px;
    text-align: left;
    line-height: 1.5em;
}
.card_three{
    width: 20%;
    padding: 4%;
    margin-left: 3%;
    background-color: #FFF4D6;
    border-radius: 15px;
    text-align: left;
    line-height: 1.5em;
}
.update{
    max-width: 960px;
    margin: auto;
    margin-bottom: 100px;
}
.email{
    background-color: #FFF4D6;
    padding: 80px 300px;
}
input[type=email]{
    height: 40px;
    border: none;
    resize: none;
    outline: none;
    width: 200px;
    background-color: #D9D9D9;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
}
.email button{
    height: 50px;
    width: 100px;
    margin-left: -4px;
    border: none;
    resize: none;
    outline: none;
    background-color: #FF5959;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
}
.email button a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: #0B0D17;
    height: 200px;
    width: 100%;
}
footer h3{
    text-align: center;
    color: #FF5959;
    padding-top: 40px;

}
footer p{
    color: #ddd;
    text-align: center;
    padding: 10px 100px;
}